<footer class="bg-light text-muted">
  <div class="container">
    <div class="row">
      <siv class="col-sm-12 text-center">
        © 2022- 地味に助かる学習コンテンツ Jimitas.
      </siv>
    </div>
  </div>
</footer>