<nav class="navbar navbar-expand-md navbar-light bg-success">
  <div class="container-fluid">
    <a class="navbar-brand text-light" href="/">トップ</a>
    <a class="btn btn-secondary" style="margin-right: 10px;" onclick="location.reload();">さいよみこみ</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="dropdown">
        <a class="btn btn-danger dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
          コンテンツ　メニュー
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <!-- <li><a class="btn dropdown-item">Classroom English</a></li> -->
          <!-- <li><a class="btn dropdown-item">English words</a></li> -->
          <div class="d-flex">
            <div>
              <li><a class="btn dropdown-item" href="/blocks">ぶろっく</a></li>
              <li><a class="btn dropdown-item" href="/ikutukana">いくつかな</a></li>
              <li><a class="btn dropdown-item" href="/ikutu_to_ikutu">いくつ　と　いくつ</a></li>
              <li><a class="btn dropdown-item" href="/kazoebou">かぞえぼう</a></li>
              <li><a class="btn dropdown-item" href="/tokei">とけい</a></li>
              <li><a class="btn dropdown-item" href="/tashizan_1">たしざんのれんしゅう</a></li>
              <li><a class="btn dropdown-item" href="/hikizan_1">ひきざんのれんしゅう</a></li>
              <li><a class="btn dropdown-item" href="/ironuri">せんやマスのいろぬり</a></li>
              <!-- <li><a class="btn dropdown-item">ひき算のひっ算</a></li>
              <li><a class="btn dropdown-item">九九のれんしゅう</a></li>
              <li><a class="btn dropdown-item">九九のひょう</a></li>
              <li><a class="btn dropdown-item">かけ算の筆算１</a></li>
              <li><a class="btn dropdown-item">かけ算の筆算２</a></li> -->
            </div>
            <div>
              <li><a class="btn dropdown-item" href="/hiragana_1">ひらがなの　れんしゅう　１</a></li>
              <li><a class="btn dropdown-item" href="/hiragana_2">ひらがなの　れんしゅう　２</a></li>
              <li><a class="btn dropdown-item" href="/katakana">カタカナの　れんしゅう</a></li>
              <li><a class="btn dropdown-item" href="/romaji">ローマ字のれんしゅう</a></li>
              <li><a class="btn dropdown-item" href="/kenhamo_1">けんばんハーモニカ　１</a></li>
              <li><a class="btn dropdown-item" href="/kenhamo_2">けんばんハーモニカ　２</a></li>
              <li><a class="btn dropdown-item" href="/mokkin">もっきん</a></li>
              <li><a class="btn dropdown-item" href="/tekkin">てっきん</a></li>
              <li><a class="btn dropdown-item" href="/recorder_1">リコーダー１</a></li>
              <li><a class="btn dropdown-item" href="/recorder_2">リコーダー２</a></li>
            </div>
            <div>
              <li><a class="btn dropdown-item" href="/kyotoshi">京都市の１１区</a></li>
              <!-- <li><a class="btn dropdown-item">都道府県をおぼえよう</a></li>
              <li><a class="btn dropdown-item">ふしづくり4年</a></li> -->
            </div>
          </div>
          </select>
        </ul>

      </div>
      <span style="flex: 1;"></span>

      <!-- font_select -->
      <div>
        <select style="margin-right: 10px;" id="font_select" class="btn btn-primary">
          <option value=0 style="font-family: 'UD Digi Kyokasho NK-B'; font-weight: bold">
            教
          </option>
          <option value=1 style="font-family: MS 明朝; font-weight: bold">
            明
          </option>
          <option value=2 style="font-family: 'メイリオ,ヒラギノ角ゴ'; font-weight: bold">
            ゴ
          </option>
        </select>
      </div>
      <!-- UD -->
      <button id="UD" style="margin-right: 10px;" type="button" class="btn btn-dark">A</button>
      <a style="margin-right: 10px;" class="btn btn-outline-light my-2 my-sm-0 mr-2" href="/users/login">ログイン</a>
      <a style="margin-right: 10px;" class="btn btn-outline-light my-2 my-sm-0 mr-2" href="/users/add">新規登録</a>
    </div>
  </div>
</nav>